{% block bkstg_schedulebundle_invitation_widget %}
  {{ form_row(form.invitee) }}
  {{ form_row(form.optional) }}
  <div class="btn-group">
    <a href="#" class="collection-item-remove btn btn-danger"><i class="fa fa-times"></i> {{ 'Remove' }}</a>
  </div>
{% endblock %}
