<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" aria-label="Respond to invitation.">
  <label class="btn btn-outline-success">
    <input type="radio" name="response"><i class="fa fa-check"></i><span class="sr-only">{{ 'Accept'|trans }}</span>
  </label>
  <label class="btn btn-outline-warning">
    <input type="radio" name="response"><i class="fa fa-question"></i><span class="sr-only">{{ 'Maybe'|trans }}</span>
  </label>
  <label class="btn btn-outline-danger">
    <input type="radio" name="response"><i class="fa fa-times"></i><span class="sr-only">{{ 'Decline'|trans }}</span>
  </label>
</div>
