{% extends '@BkstgSchedule/layout.html.twig' %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% set page_title = 'my_schedule'|trans %}

{% block main %}
  <div class="container-fluid">
    {% include '@BkstgCore/_header.html.twig' with { 'title': page_title } only %}
    {% include '@BkstgCore/_alerts.html.twig' %}

    <h3 class="date-display">{{ "now"|date('F Y') }}</h3>
    {% include '@BkstgSchedule/Calendar/_controls.html.twig' %}
    <div id="calendar" class="mt-2 mb-2" data-search-url="{{ path('bkstg_calendar_search_personal') }}"></div>
    {% include '@BkstgCore/_footer.html.twig' %}
  </div>
{% endblock %}
